html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: hsl(30, 38%, 92%);
  color: hsl(228, 12%, 48%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.6;
  font-family: "Montserrat", sans-serif;
}
.product_preview_card {
  width: 90%;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem auto;
  border-radius: 1rem;
  max-width: 600px;
}

.product_img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}

.product_details {
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.product_category {
  font-size: 2rem;
  letter-spacing: 0.5rem;

  text-transform: uppercase;
}

.product_name {
  color: hsl(212, 21%, 14%);
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 5rem;
  line-height: 1;
}

.product_description {
  font-size: 2.2rem;
}

.price_container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2rem;
}

.discounted_price {
  color: hsl(158, 36%, 37%);
  font-size: 4.6rem;
  font-weight: 700;
  font-family: "Fraunces", serif;
}

.former_price {
  font-size: 2rem;
  text-decoration: line-through;
}

.btn {
  width: 100%;
  background-color: hsl(158, 36%, 37%);
  padding: 2rem;
  color: hsl(0, 0%, 100%);
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  border-style: none;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.icont_cart {
  width: 2rem;
}

.btn:hover {
  background-color: hsl(158, 42%, 18%);
  cursor: pointer;
}

@media (min-width: 600px) {
  .product_preview_card {
    flex-direction: row;
    max-width: 65rem;
    align-items: stretch;
    overflow: hidden;
  }

  picture,
  .product_details {
    flex: 1 1 0px;
    width: 50%;
    min-width: 0;
  }

  .product_img {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 1rem 0 0 1rem;
    object-fit: cover;
  }

  .product_details {
    padding: 3rem;
    justify-content: center;
  }

  .product_name {
    font-size: 4rem;
  }

  .product_description {
    font-size: 1.4rem;
  }

  .discounted_price {
    font-size: 3.3rem;
  }

  .former_price {
    font-size: 1.6rem;
  }

  .btn {
    font-size: 1.6rem;
    padding: 1.6rem;
    margin-bottom: 0;
  }

  .icont_cart {
    width: 1.6rem;
  }
}
